@font-face {
  font-family: 'FZMiaoWuJW';
  src: local('FZMiaoWuJW'), url(./font/FZMiaoWuJW.TTF) format('truetype');
}

* {
  font-family: 'FZMiaoWuJW'!important;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(azure, lightskyblue, skyblue, deepskyblue);
}

.shadow {
  filter: url(#shadow);
}

.cloud-body {
  fill: hsl(0, 0%, 100%);
  stroke: #000;
}
.cloud-mouth {
  stroke: #000;
  stroke-width: 2px;
}

.tree {
  transform-origin: bottom;
}

.light {
  width: 0;
  transition: width 0s 0.3s, opacity 0.3s;
  transform-origin: center left;
  opacity: 0;
}

.light--active {
  width: 45px;
  transition: width 0.2s, opacity 0s;
  opacity: 0.6;
}

.options {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.options .btn {
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 4px 10px;
  display: inline-block;
  margin-top: 10px;
  font-size: 12px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.options .btn:hover {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.6);
}

.options .btn.active {
  border-color: rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 1);
}