@font-face {
  font-family: 'FZMiaoWuJW';
  src: local('FZMiaoWuJW'), url(./font/FZMiaoWuJW.TTF) format('truetype');
}

* {
  font-family: 'FZMiaoWuJW'!important;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(azure, lightskyblue, skyblue, deepskyblue);
}

body {
  background: url(./img/bg.svg) repeat-x;
  background-position: 0 center;
  background-size: cover;
}

.cloud {
  position: absolute;
  left: 0;
  top: 0;
  background: url(./img/cloud.svg) no-repeat;
  width: 240px; 
  height: 168px;
  transform-origin: 0 0;
}

.tree {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 400px;
}